.technology-main-grid {
    display: grid;
    grid-template-columns: max(20%, 200px) 1fr;
    gap: 1rem;
    padding: 1rem;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.technology-main-grid-title {
    grid-column: span 3;
}


.flex-sidebar {
    display: flex;
    flex-direction: column;

    a {
        padding: 1rem;
        border: 1px solid $font-color;
        margin-top: 0.8rem;
        border-radius: 3px;
        transition: background-color 0.5s;
    }

    a:hover {
        background-color: $accent-color;
    }

    @media (max-width: 767px) {
        display: none;
    }
}
