// Light Theme
$font-color: rgba(0, 0, 0, 0.9);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$nav-background-color: rgba(0, 0, 0, 0.85);
$nav-font-color: #fff;
$header-color-mobile: rgba(0, 0, 0, 0.1);
$box-shadow: rgba(0, 0, 0, 0.2);
$page-card-header: rgba($color: #000, $alpha: 0.2);
$font-big: 1.5rem;

// Dark Theme
$background-color-dark: rgb(30, 30, 30);
$font-color-dark: rgb(204, 204, 204);
$footer-color-dark: rgb(51, 51, 51);
$accent-color-dark: #ee6c4d;
$page-card-dark: rgb(51, 51, 51);
