$font-color: rgba(0, 0, 0, 0.9);
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$nav-background-color: rgba(0, 0, 0, 0.85);
$nav-font-color: #fff;
$header-color-mobile: rgba(0, 0, 0, 0.1);
$box-shadow: rgba(0, 0, 0, 0.2);
